.grid {
	height: 200vh;
	width: 77.5%;
	margin: auto;
	@media only screen and (max-width: 375px) {
		width: 90%;
	}
	@media only screen and (max-width: 570px) {
		margin-top: 40rem;
	}
	&__intro {
		margin-top: 100vh;
		font-family: $josefin;
		display: flex;
		justify-content: space-between;
		color: $black;
		@media only screen and (max-width: 570px) {
			display: flex;
			justify-content: center;
		}
		h2 {
			margin-top: 11.3rem;
			font-size: 6.4rem;
			@media only screen and (max-width: 570px) {
				font-size: 10.4rem;
			}
		}
		a {
			color: $black;
			margin-top: 12rem;
			font-weight: bold;
			font-size: 2rem;
			text-decoration: none;
			display: flex;
			align-items: center;
			padding: 1rem 6.4rem;
			border: 1px solid $black;
			transition: 0.3s ease-in;
			@media only screen and (max-width: 570px) {
				display: none;
			}
			&:hover {
				background: $black;
				color: $white;
			}
		}
	}
	&__gallery {
		display: grid;
		grid-template-columns: repeat(4, auto);
		margin-top: 10.6rem;
		grid-gap: 4rem;
		@media only screen and (max-width: 1200px) {
			grid-template-columns: repeat(2, auto);
		}
		@media only screen and (max-width: 570px) {
			grid-template-columns: repeat(1, auto);
		}
		grid-template-rows: repeat(2, 59rem);
		@media only screen and (max-width: 1200px) {
			grid-template-rows: repeat(4, 59rem);
		}
		@media only screen and (max-width: 570px) {
			grid-template-rows: repeat(8, 59rem);
		}

		h3 {
			width: 24rem;
			font-size: 4rem;
			color: $white;
			font-family: $josefin;
			margin-left: 6rem;
			margin-top: 47rem;
			transition: 0.3s ease-in;
			@media only screen and (max-width: 570px) {
				margin-top: 42rem;
				width: 35rem;
				font-size: 6rem;
			}
		}
		&__item {
			opacity: 0;
			cursor: pointer;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			.overlay {
				position: absolute;
				width: 100%;
				background-color: $overlay;
				height: 100%;
				transition: 0.3s ease-in;
				&:hover {
					background-color: rgba(255, 255, 255, 0.603);
					h3 {
						color: $black;
					}
				}
			}
			&:hover {
				color: $black;
			}
		}
		&__item-1 {
			background-image: url(/images/desktop/image-deep-earth.jpg);
		}
		&__item-2 {
			background-image: url(/images/desktop/image-night-arcade.jpg);
		}
		&__item-3 {
			background-image: url(/images/desktop/image-soccer-team.jpg);
		}
		&__item-4 {
			background-image: url(/images/desktop/image-grid.jpg);
			h3 {
				width: 10rem;
			}
		}
		&__item-5 {
<<<<<<< HEAD
=======
			opacity: 0;
			transform: translateY(100px);
>>>>>>> 062959b2e1b8d88ed5b065097b52c17db42dda83
			background-image: url(/images/desktop/image-from-above.jpg);
		}
		&__item-6 {
<<<<<<< HEAD
=======
			opacity: 0;
			transform: translateY(100px);
>>>>>>> 062959b2e1b8d88ed5b065097b52c17db42dda83
			background-image: url(/images/desktop/image-pocket-borealis.jpg);
		}
		&__item-7 {
<<<<<<< HEAD
=======
			opacity: 0;
			transform: translateY(100px);
>>>>>>> 062959b2e1b8d88ed5b065097b52c17db42dda83
			background-image: url(/images/desktop/image-curiosity.jpg);
		}
		&__item-8 {
<<<<<<< HEAD
=======
			opacity: 0;
			transform: translateY(100px);
>>>>>>> 062959b2e1b8d88ed5b065097b52c17db42dda83
			background-image: url(/images/desktop/image-fisheye.jpg);
		}
	}
}
