header {
	height: 86rem;
	background-image: url(/images/desktop/image-hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	.overlay {
		background-color: rgba(0, 0, 0, 0.397);
		height: 100%;
	}
	.navigation {
		width: 73.8%;
		@media only screen and (max-width: 780px) {
			width: 84.8%;
		}

		margin: auto;
		height: 21.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__logo {
			z-index: 2;
			svg {
				transform: scale(1.33);
				@media only screen and (max-width: 1100px) {
					transform: scale(1);
				}
				@media only screen and (max-width: 575px) {
					transform: scale(0.8);
				}
			}
		}
		&__mobile {
			height: 100%;
			width: 100%;
			background: $black;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			visibility: hidden;

			li {
				margin-bottom: 10rem;
				margin-left: 10rem;
			}
			a {
				text-transform: uppercase;
				text-decoration: none;
				color: $white;
				font-size: 10rem;
				font-family: $josefin;
			}
		}
		&__hamburger {
			z-index: 2;
			cursor: pointer;
			display: none;
			@media only screen and (max-width: 780px) {
				display: block;
			}
		}
		&__links {
			@media only screen and (max-width: 780px) {
				display: none;
			}
			display: flex;
			li {
				margin-right: 7.5rem;

				&:last-child {
					margin-right: 0rem;
				}
			}
			a {
				position: relative;
				text-decoration: none;
				font-family: $alata;
				color: $white;
				margin-right: -2.91rem;
				font-size: 1.9rem;
				&::before {
					content: "";
					display: block;
					height: 2px;
					width: 40%;
					position: absolute;
					top: 110%;
					left: 30%;
					background-color: $white;
					opacity: 0;
					transition: 0.3s ease;
				}
				&:hover::before {
					opacity: 1;
					left: 0%;
					right: -10%;
					width: 110%;
				}
			}
		}
	}
	.wrapper {
		width: 76.8%;
		margin: auto;
		@media only screen and (max-width: 780px) {
			width: 84.8%;
		}
	}
	.rectangle {
		margin-top: 8.1rem;
		width: 85.5rem;
		height: 36.9rem;
		background-color: transparent;
		border: 2px solid $white;
		@media only screen and (max-width: 575px) {
			width: 75.5rem;
			height: 36.9rem;
		}
		h1 {
			font-size: 9.5rem;
			color: white;
			font-family: "Josefin Sans", sans-serif;
			text-align: left;
			padding: 5rem;
			@media only screen and (max-width: 575px) {
				font-size: 8rem;
			}
		}
	}
}
.open {
	animation: fade-in 1s ease;
	visibility: visible !important;
}
.close {
	animation: fade-out 1s ease;
}
@keyframes fade-in {
	from {
		visibility: hidden;
		opacity: 0;

		transform: scale(0.2) rotate(180deg);
	}
	to {
		visibility: visible;
		opacity: 1;
	}
}
@keyframes fade-out {
	from {
		visibility: visible;
		opacity: 1;
	}
	to {
		visibility: hidden;
		opacity: 0;
		transform: scale(0.2) rotate(180deg);
	}
}
.enable {
	overflow: hidden;
}
.hamburger .line {
	width: 29px;
	height: 3px;
	background-color: #ecf0f1;
	display: block;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hamburger:hover {
	cursor: pointer;
}

#hamburger-12.is-active .line:nth-child(1) {
	opacity: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}

#hamburger-12.is-active .line:nth-child(3) {
	opacity: 0;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}
