.vr {
	background-color: $white;
	width: 77.5%;
	margin: auto;
	@media only screen and (max-width: 375px) {
		width: 90%;
	}
}
.left {
	margin-top: 21rem;
	width: 96.6rem;
	height: 66rem;
	background-image: url(/images/desktop/image-interactive.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	@media only screen and (max-width: 570px) {
		background-image: url(/images/mobile/image-interactive.jpg);
		background-position: center center;
		margin: 10rem auto;
	}
	@media only screen and (max-width: 375px) {
		width: 100%;
	}
}
.right {
	display: flex;
	flex-direction: column;
	padding: 13rem 0rem 0 13rem;
	margin-top: -42rem;
	margin-left: 76rem;
	width: 82.6rem;
	height: 42rem;
	background-color: $white;
	text-align: start;
	@media only screen and (max-width: 570px) {
		padding: 0 0 0 0;
		margin-top: 10rem;
		margin-left: 0;
		width: 100%;
	}
	h2 {
		font-size: 6rem;
		font-family: $josefin;
		@media only screen and (max-width: 570px) {
			text-align: center;
		}
		@media only screen and (max-width: 570px) {
			width: 80%;
			margin: auto;
			font-size: 8.2rem;
		}
	}
	p {
		text-align: left;
		color: $dark-gray;
		margin-top: 4.4rem;
		line-height: 3.5rem;
		width: 80%;
		font-size: 2.2rem;
		font-family: $alata;
		@media only screen and (max-width: 900px) {
			font-size: 2.4rem;
		}
		@media only screen and (max-width: 700px) {
			font-size: 2.8rem;
			line-height: 4rem;
		}
		@media only screen and (max-width: 570px) {
			width: 80%;
			margin: auto;
			text-align: center;
		}
		@media only screen and (max-width: 570px) {
			margin-top: 2rem;
			font-size: 4.5rem;
			line-height: 7rem;
		}
	}
}
