.vr {
	background-color: $white;
	width: 77.5%;
	margin: auto;
	@media only screen and (max-width: 375px) {
		width: 90%;
	}
}
// height: 100vh;
.left {
	margin-top: 21rem;
	// margin-left: 21.7rem;
	width: 96.6rem;
	height: 66rem;
	background-image: url(/images/desktop/image-interactive.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	@media only screen and (max-width: 570px) {
		background-image: url(/images/mobile/image-interactive.jpg);
		background-position: center center;
		margin: 10rem auto;
	}
	@media only screen and (max-width: 375px) {
		width: 100%;
	}
}
.right {
	display: flex;
	flex-direction: column;
	padding: 13rem 13rem 0 13rem;
	margin-top: -42rem;
	margin-left: 76rem;
	width: 82.6rem;
	height: 42rem;
	background-color: $white;
	text-align: start;
	@media only screen and (max-width: 570px) {
		padding: 0 0 0 0;
		margin-top: 10rem;
		margin-left: 0;
		width: 100%;
	}
	h2 {
		font-size: 6rem;
		font-family: $josefin;
		@media only screen and (max-width: 570px) {
			text-align: center;
		}
	}
	p {
		margin-top: 4.4rem;
		line-height: 3rem;
		width: 70%;
		font-size: 2rem;
		font-family: $alata;
		@media only screen and (max-width: 570px) {
			width: 80%;
			margin: auto;
		}
	}
}
