@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1700px) {
  html {
    font-size: 42.5%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 38.5%;
  }
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 33.5%;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 28.5%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 23.5%;
  }
}

@media only screen and (max-width: 780px) {
  html {
    font-size: 22.5%;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 18.5%;
  }
}

html,
body {
  overflow-x: hidden;
}

.grid {
  height: 200vh;
  width: 77.5%;
  margin: auto;
}

@media only screen and (max-width: 375px) {
  .grid {
    width: 90%;
  }
}

@media only screen and (max-width: 570px) {
  .grid {
    margin-top: 40rem;
  }
}

.grid__intro {
  margin-top: 100vh;
  font-family: "Josefin Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}

@media only screen and (max-width: 570px) {
  .grid__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.grid__intro h2 {
  margin-top: 11.3rem;
  font-size: 6.4rem;
}

@media only screen and (max-width: 570px) {
  .grid__intro h2 {
    font-size: 10.4rem;
  }
}

.grid__intro a {
  color: black;
  margin-top: 12rem;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 6.4rem;
  border: 1px solid black;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 570px) {
  .grid__intro a {
    display: none;
  }
}

.grid__intro a:hover {
  background: black;
  color: white;
}

.grid__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: (59rem)[2];
      grid-template-rows: repeat(2, 59rem);
  margin-top: 10.6rem;
  grid-gap: 4rem;
}

@media only screen and (max-width: 1200px) {
  .grid__gallery {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (max-width: 570px) {
  .grid__gallery {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
  }
}

@media only screen and (max-width: 1200px) {
  .grid__gallery {
    -ms-grid-rows: (59rem)[4];
        grid-template-rows: repeat(4, 59rem);
  }
}

@media only screen and (max-width: 570px) {
  .grid__gallery {
    -ms-grid-rows: (59rem)[8];
        grid-template-rows: repeat(8, 59rem);
  }
}

.grid__gallery h3 {
  width: 24rem;
  font-size: 4rem;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 6rem;
  margin-top: 47rem;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 570px) {
  .grid__gallery h3 {
    margin-top: 42rem;
    width: 35rem;
    font-size: 6rem;
  }
}

.grid__gallery__item-1 {
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  background-image: url(/images/desktop/image-deep-earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.grid__gallery__item-1:hover {
  color: black;
}

.grid__gallery__item-1 .overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.grid__gallery__item-1 .overlay:hover {
  background-color: rgba(255, 255, 255, 0.603);
}

.grid__gallery__item-1 .overlay:hover h3 {
  color: black;
}

.grid__gallery__item-2 {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  opacity: 0;
  background-image: url(/images/desktop/image-night-arcade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.grid__gallery__item-2 .overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
}

.grid__gallery__item-2 .overlay:hover {
  background-color: rgba(255, 255, 255, 0.603);
}

.grid__gallery__item-2 .overlay:hover h3 {
  color: black;
}

.grid__gallery__item-3 {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  opacity: 0;
  background-image: url(/images/desktop/image-soccer-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.grid__gallery__item-3 .overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
}

.grid__gallery__item-3 .overlay:hover {
  background-color: rgba(255, 255, 255, 0.603);
}

.grid__gallery__item-3 .overlay:hover h3 {
  color: black;
}

.grid__gallery__item-4 {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  opacity: 0;
  background-image: url(/images/desktop/image-grid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.grid__gallery__item-4 .overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
}

.grid__gallery__item-4 .overlay:hover {
  background-color: rgba(255, 255, 255, 0.603);
}

.grid__gallery__item-4 .overlay:hover h3 {
  color: black;
}

.grid__gallery__item-4 h3 {
  width: 10rem;
}

.grid__gallery__item-5 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  background-image: url(/images/desktop/image-from-above.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.grid__gallery__item-5 .overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
}

.grid__gallery__item-5 .overlay:hover {
  background-color: rgba(255, 255, 255, 0.603);
}

.grid__gallery__item-5 .overlay:hover h3 {
  color: black;
}

.grid__gallery__item-6 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  background-image: url(/images/desktop/image-pocket-borealis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.grid__gallery__item-6 .overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
}

.grid__gallery__item-6 .overlay:hover {
  background-color: rgba(255, 255, 255, 0.603);
}

.grid__gallery__item-6 .overlay:hover h3 {
  color: black;
}

.grid__gallery__item-7 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  background-image: url(/images/desktop/image-curiosity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.grid__gallery__item-7 .overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
}

.grid__gallery__item-7 .overlay:hover {
  background-color: rgba(255, 255, 255, 0.603);
}

.grid__gallery__item-7 .overlay:hover h3 {
  color: black;
}

.grid__gallery__item-8 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  background-image: url(/images/desktop/image-fisheye.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.grid__gallery__item-8 .overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
}

.grid__gallery__item-8 .overlay:hover {
  background-color: rgba(255, 255, 255, 0.603);
}

.grid__gallery__item-8 .overlay:hover h3 {
  color: black;
}
/*# sourceMappingURL=main.css.map */